<!DOCTYPE html>
<html>
<head>
  <title>Disclosure</title>
  <%= stylesheet_link_tag    "disclosure/application", :media => "all" %>
  <%= javascript_include_tag "disclosure/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
